body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana;
	font-size: 16px;
	background: #eff4f8;
	overflow-x: auto;
	overflow-y: scroll;
}
ol, ul {
	margin: 2px 0px 2px 32px;
	padding: 0px;
}
li + li {
	margin-top: 2px;
}
ol {
	list-style-type: decimal;
}
p {
	margin: 0px;
	padding: 0px;
}
p + p, p + div, p + ol, p + ul, ol + p, ul + p {
	margin-top: 8px !important;
}

.Chrome {
}
.Firefox {
}
.SpecificBrowser {
}
.UniversalBrowser {
}
.BrowserDisplayOn {
}
.BrowserDisplayOff {
	display: none !important;
}

.Developer {
}
.NonDeveloper {
}
.DeveloperDisplayOn {
}
.DeveloperDisplayOff {
	display: none !important;
}

.PageVariableDisplay {
}
.PageVariableDisplayInv {
}
.PageVariableDisplayOn {
}
.PageVariableDisplayOff {
	display: none !important;
}

.Help {
}
.NoHelp {
}
.HelpDisplayOn {
}
.HelpDisplayOff {
	display: none !important;
}

.TitleContainer {
	text-align: center;
	background: #1c7bb1;
	padding: 16px 0px 32px 0px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.TitleContainerInner {
	position: relative;
	display: inline-block;
}
.AuthorContainer {
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 0;
}
a.AuthorLink, a.AuthorLink:visited {
	color: #1c7bb1;
	text-shadow: 0px 0px 4px rgba(255,255,255,0.5);
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}
a.AuthorLink:hover {
	color: #ffffff !important;
	color: rgba(255,255,255,0.5) !important;
}
a.AuthorLink:active {
	color: #ffffff !important;
	color: rgba(255,255,255,0.5) !important;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}
a.Title, a.Title:visited, a.Title:hover, a.Title:active {
	color: #bddef1;
	text-shadow: 0px 4px 0px rgba(0,0,0,0.5);
	font-size: 88px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none !important;
}
.SubTitleSeparator {
	color: #72b8e1;
	text-shadow: 0px 4px 0px rgba(0,0,0,0.5);
	font-size: 64px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	padding: 0px 6px 0px 6px;
}
.SubTitleContainer {
	position: relative;
	display: inline-block;
}
.SubTitle {
	color: #72b8e1;
	text-shadow: 0px 4px 0px rgba(0,0,0,0.5);
	font-size: 64px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
}
.SubTitleDescription {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	text-align: left;
	padding-top: 6px;
}
.NavigationLinkSeparator {
	display: inline-block;
	padding: 0px 6px 0px 6px;
	color: #bddef1;
	color: rgba(255,255,255,0.5);
	vertical-align: middle;
	font-size: 16px;
}
a.NavigationLinkCurrent.NavigationLink, a.NavigationLinkCurrent.NavigationLink:visited {
	text-decoration: underline !important;
	color: #ddecf8;
}
a.NavigationLink, a.NavigationLink:visited {
	color: #bddef1;
	font-size: 18px;
	text-decoration: none;
	vertical-align: middle;
}
a.NavigationLink:hover {
	color: #ffffff;
}
a.NavigationLink:active {
	color: #ffffff;
	text-decoration: underline !important;
}
a.Version, a.Version:visited, a.Version:hover, a.Version:active {
	display: block;
	position: absolute;
	right: 0;
	top: 0;

	color: #72b8e1;
	text-shadow: 0px 2px 0px rgba(0,0,0,0.5);
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}
.VersionBehind {
	color: #bddef1 !important;
}
.VersionAhead {
	color: #bddef1 !important;
}
.VersionSame {
}

.TitleBorder {
	width: 100%;
	height: 4px;
	background: rgba(28,123,177,0.5);
}

.ContentContainer {
	text-align: center;
}
.Content {
	width: 640px;
	display: none;
	text-align: left;
	font-size: 20px;
	padding-bottom: 64px;
	padding-top: 12px;
}
.ContentActive {
	display: inline-block !important;
}

.ContentHeader {
	color: #01283f;
}
.ContentHeaderTitle {
	font-weight: bold;
}
.ContentBody {
	color: #034063;
	padding: 16px 0px 16px 16px;
}
.ContentBodyStub {
	padding: 16px 0px 0px 16px;
}
.ContentBodyInner {
}
.ContentInstructionList {
}

.Notice {
	font-style: italic;
}

.Hardlink {
}
.HardlinkSeparator {
	display: inline-block;
	padding: 0px 6px 0px 6px;
}

.InfoLink {
}
.LinkInfo {
	display: none;
	color: #9ac4dc;
}
.InfoLink:hover + .LinkInfo {
	display: inline !important;
}

.Content a, a:visited {
	color: #1c7bb1;
	text-decoration: none;
}
.Content a:hover {
	color: #034063;
	text-decoration: underline;
}
.Content a:active {
	color: #034063;
	text-decoration: underline;
}

a.InstallLink, a.InstallLink:visited {
	display: inline-block;
	color: #1c7bb1;
	text-decoration: none !important;
	border-bottom: 1px dashed #1c7bb1;
	margin-bottom: -1px;
}
a.InstallLink:hover {
	color: #034063;
	text-decoration: none !important;
	border-bottom: 1px dashed #034063 !important;
}
a.InstallLink:active {
	color: #034063;
	text-decoration: none !important;
	border-bottom: 1px solid #034063 !important;
}

.ChangeLogLabel {
	font-weight: bold;
	font-style: italic;
}
.ChangeLogLabelCurrent {
	font-weight: normal !important;
}
.ChangeLogList {
	font-size: 18px;
	margin: 2px 0px 2px 32px;
}
.ChangeLogList li {
	padding: 1px 0px 1px 0px;
}
.ChangeLogList + .ChangeLogLabel {
	padding-top: 16px;
}

.ImagePreviewOverlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.25);
	z-index: 10;
	display: none;
}
.ImagePreviewOverlayInner {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
}
.ImagePreviewBox {
	position: absolute;
	display: inline-block;
	top: 50%;
}
.ImagePreviewBoxInner1 {
	position: relative;
}
.ImagePreviewBoxInner2 {
	position: absolute;
	background: #eff4f8;
	padding: 16px;
	box-shadow: 0px 0px 0px 4px rgba(28,123,177,0.5);
}
.ImagePreviewImageContainer {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}
.ImagePreviewImageContainer img {
	display: inline-block;
}
.ImagePreviewDescriptionContainer {
	display: block;
	text-align: left;
	max-width: 640px;
}

.ImageLink {
}
.ImageDescription {
	display: none;
}

.HiddenHoverMaster {
}
.HiddenHover {
	display: none;
}
.HiddenHoverMaster:hover .HiddenHover {
	display: inline !important;
}
